.react-portlet-demo-es2015 {
  color: #343333; }
  .react-portlet-demo-es2015 a {
    color: #343333;
    text-decoration: underline;
    padding: 5px 0; }
    .react-portlet-demo-es2015 a:hover {
      color: #923132; }
    .react-portlet-demo-es2015 a.disabled, .react-portlet-demo-es2015 a.disabled:hover {
      text-decoration: none;
      color: #999;
      cursor: default; }
  .react-portlet-demo-es2015 .portlet-user-table {
    border-collapse: collapse;
    border: 1px solid #999; }
    .react-portlet-demo-es2015 .portlet-user-table tr.even {
      background: #eee; }
    .react-portlet-demo-es2015 .portlet-user-table th {
      padding: 5px;
      text-align: left;
      border-bottom: 1px solid #999; }
    .react-portlet-demo-es2015 .portlet-user-table td {
      padding: 5px; }
